<!DOCTYPE html>
<html>
<head>
	<title>cssSlider</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="cssSlider created with cssSlider, a free wizard program that helps you easily generate beautiful web slideshow" />

	
</head>
<body style="background-color:#d7d7d7; margin: auto; text-align: center;">

	<!-- Start cssSlider.com -->
	<link rel="stylesheet" href="engine1/style.css">
	<!--[if IE]><link rel="stylesheet" href="engine1/ie.css"><![endif]-->
	<!--[if lte IE 9]><script type="text/javascript" src="engine1/ie.js"></script><![endif]-->
	

	<div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause' autocomplete="off">
		
		<ul>
			<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
				<img src="data1/images/blackladybuganimalwallpaper1920x12003036.jpg" style="width: 100%;">
			</div>
			<li class='num0 img'>
				 <a href="#" target=""><img src='data1/images/blackladybuganimalwallpaper1920x12003036.jpg' alt='black-ladybug-animal-wallpaper-1920x1200-3036' title='black-ladybug-animal-wallpaper-1920x1200-3036' /> </a> 
			</li>
			<li class='num1 img'>
				<img src='data1/images/bliss_water_by_v_e_g_ad4ip7t6.jpg' alt='bliss_water_by_v_e_g_a-d4ip7t6' title='bliss_water_by_v_e_g_a-d4ip7t6' />
			</li>
			<li class='num2 img'>
				<img src='data1/images/bloom_00004.jpg' alt='Bloom_00004' title='Bloom_00004' />
			</li>
		
		</ul>
		<a class="cs_lnk" href="http://cssslider.com">html5 slideshow</a>
		<div class='cs_description'>
			<label class='num0'>
				<span class="cs_title"><span class="cs_wrapper">black-ladybug-animal-wallpaper-1920x1200-3036</span></span>
				<br/><span class="cs_descr"><span class="cs_wrapper">gggggggg</span></span>
			</label>
			<label class='num1'>
				<span class="cs_title"><span class="cs_wrapper">bliss_water_by_v_e_g_a-d4ip7t6</span></span>
				
			</label>
			<label class='num2'>
				<span class="cs_title"><span class="cs_wrapper">Bloom_00004</span></span>
				
			</label>
		</div>
		
		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		
		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num1' for='cs_slide1_1'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num2' for='cs_slide1_2'>
				<span class='cs_point'></span>
				
			</label>
		</div>
		
		</div>
		<!-- End cssSlider.com -->
		
</body>
</html>