<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="El IEEA es una institución educativa del estado de quintana roo que atiende a personas mayores de 15 años que por alguna situación no tuvieron la oportunidad de aprender a leer o a escribir, prepara a quienes no han concluido su primaria o secundaria para terminarla con la ayuda de la creación de su Programa Educativo"/>
	<meta name="viewport" content="width=device-width, minimun-sacale=1 maximun-scale=1">
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/normalize.css" rel="stylesheet">
	<title>IEEA: Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</title>

</head>
	<body>
	<link rel="stylesheet" href="engine1/style.css">
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
		<header>
			<figure id="logo" class="logos">
				<img src="../static/img/logos.jpg">
			</figure>
	
<a class="toggleMenu" href="#">Menu</a>
<ul class="nav">
	<li>
		<a href="#">Inicio</a>
	</li>
	<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="#">Mensaje de Bienvenida</a></li>
			<li><a href="#">Presentación</a></li>
			<li><a href="#">Antecedentes</a></li>
			<li><a href="#">Misión y Visión</a></li>
			<li><a href="#">Objetivo</a></li>
			<li><a href="#">Marco Normativo</a></li>
			<li><a href="#">Estructura Orgánica</a></li>
			<li><a href="#">Patronato</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="#">Transparencia</a>
			</li>
			<li>
				<a href="#">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="#">Armonización Contable</a>
			</li>
			<li>
				<a href="#">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="#">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="#">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="#">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="#">Buen Juez</a>
			</li>
			<li>
				<a href="#">Promesa</a>
			</li>
			<li>
				<a href="#">Logros en Atención</a>
			</li>
			<li>
				<a href="#">Logros en Educación</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="#">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="#">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="#">Consulta tu CURP</a>
			</li>
			<li>
				<a href="#">Correo INEA</a>
			</li>
			<li>
				<a href="#">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="#">Información para Asesores</a>
			</li>
			<li>
				<a href="#">Formal</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Intranet</a>
	</li>

	</li>
</ul>
</div>
		<section id="banner">
		<div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause' autocomplete="off">
		
		<ul>
			<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
				<img src="data1/images/blackladybuganimalwallpaper1920x12003036.jpg" style="width: 100%;">
			</div>
			<li class='num0 img'>
				 <a href="#" target=""><img src='data1/images/blackladybuganimalwallpaper1920x12003036.jpg' alt='black-ladybug-animal-wallpaper-1920x1200-3036' title='black-ladybug-animal-wallpaper-1920x1200-3036' /> </a> 
			</li>
			<li class='num1 img'>
				<img src='data1/images/bliss_water_by_v_e_g_ad4ip7t6.jpg' alt='bliss_water_by_v_e_g_a-d4ip7t6' title='bliss_water_by_v_e_g_a-d4ip7t6' />
			</li>
			<li class='num2 img'>
				<img src='data1/images/bloom_00004.jpg' alt='Bloom_00004' title='Bloom_00004' />
			</li>
		
		</ul>
		<a class="cs_lnk" href="http://cssslider.com">html5 slideshow</a>
		<div class='cs_description'>
			<label class='num0'>
				<span class="cs_title"><span class="cs_wrapper">black-ladybug-animal-wallpaper-1920x1200-3036</span></span>
				<br/><span class="cs_descr"><span class="cs_wrapper">gggggggg</span></span>
			</label>
			<label class='num1'>
				<span class="cs_title"><span class="cs_wrapper">bliss_water_by_v_e_g_a-d4ip7t6</span></span>
				
			</label>
			<label class='num2'>
				<span class="cs_title"><span class="cs_wrapper">Bloom_00004</span></span>
				
			</label>
		</div>
		
		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		
		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num1' for='cs_slide1_1'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num2' for='cs_slide1_2'>
				<span class='cs_point'></span>
				
			</label>
		</div>
		
		</div>
		</section>
		<section>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
		</section>
		<section>
				<div class="google-ieea">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15134.31220285243!2d-88.29812183927967!3d18.50276244529951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5ba363bd9bf5e5%3A0x3f2aa61fc1f73200!2sIEEA+Direcci%C3%B3n+General+Quintana+Roo!5e0!3m2!1sen!2smx!4v1413860188953" width="1200" height="400" frameborder="0" style="border:0" class="googlemap"></iframe>
				</div>
			
		</section>
		<footer id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>

				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
				</div>
		</footer>
	</body>
</html>