<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="El IEEA es una institución educativa del estado de quintana roo que atiende a personas mayores de 15 años que por alguna situación no tuvieron la oportunidad de aprender a leer o a escribir, prepara a quienes no han concluido su primaria o secundaria para terminarla con la ayuda de la creación de su Programa Educativo"/>
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/normalize.css" rel="stylesheet">
	<title>IEEA: Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</title>
</head>
	<body>
		<header>
			<figure id="logo">
				<img src="../static/img/logos.jpg">
			</figure>
		</header>
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a href="#Inicio" class="MainMenu-link">Inicio</a>
					</li>
					<li class="MainMenu-item">
							<a href="#Inicio" class="MainMenu-link">Información Institucional</a>
					</li>
					<li class="MainMenu-item">
							<a href="#Inicio" class="MainMenu-link">Programas y Estadísticas</a>
					</li>
					<li class="MainMenu-item">
							<a href="#Inicio" class="MainMenu-link">Tramites y Servicios</a>
					</li>
					<li class="MainMenu-item">
							<a href="#Inicio" class="MainMenu-link">Intranet</a>
					</li>
					<li class="MainMenu-item">
							<a href="#Inicio" class="MainMenu-link">Contacto</a>
					</li>
				</ul>
			</nav>
		<section id="banners">
			<figure class="banner-principal">
				<img src="../static/img/banner.jpg">
			</figure>
		</section>
		<section>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
				<article>
					<figure>
						<img src="../static/img/imagen-articulo1" alt="descripcion de la imagen">
					</figure>
					<figcaption>Este es un ejemplo de un articulo</figcaption>
				</article>
		</section>
		<section>
				<div class="Transparencia-mensaje">
					<h3>
					En el IEEA Protegemos tus datos personales
					</h3>
					<br>
					<p>
						“EN EL IEEA PROTEGEMOS TUS DATOS PERSONALES”

En cumplimiento con lo establecido en la Ley Federal de Transparencia y Acceso a la Información Publica Gubernamental en sus artículos 20 y 21, el Instituto Estatal para la Educación de los Jóvenes y Adultos de Quintana Roo informa que ha adoptado las medidas necesarias para garantizar la privacidad y seguridad en los datos personales que proporcionen nuestros Educandos, Figuras Solidarias e Institucionales.

Nuestras tecnologías de Internet garantizan que los datos que ingresen en cualquiera de nuestros formularios no serán alterados, difundidos, distribuidos o comercializados cumpliendo así con los Lineamientos de Protección de Datos Personales.
					</p>
				</div>
			
		</section>
		<footer id="piepagina" class="Footer">
				
				<div id="footeradress" class="footer-adrees">
					<h5>
						Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo
					</h5>
					<br>
					<h3>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						Tel. 01 983 83 2 31 01
					</h3>
					<h3>
						Todos los Derechos reservados - Dirección de Informática
					</h3>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul>
						<h2>Ligas de Interes</h2>
						<li>
							<a href="http://www.inea.gob.mx">Portal inea</a>
						</li>
						<li>
							<a href="http://www.conevyt.org.mx">Portal CONEVyT</a>
						</li>
						<li>
							<a href="http://www.seyc.gob.mx">Portal de la Secretaria de Educación</a>
						</li>
						<li>
							<a href="http://www.bachilleratosead.net">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<figure>
						<img src="../static/img/ieeafacebooklogo.jpg">
					</figure>
					<figure>
						<img src="../static/img/ieeatwetterlogo.jpg">
					</figure>
					<figure>
						<img src="../static/img/ieeayoutubelogo.jpg">
					</figure>
				</div>
		</footer>
	</body>
</html>