<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="El IEEA es una institución educativa del estado de quintana roo que atiende a personas mayores de 15 años que por alguna situación no tuvieron la oportunidad de aprender a leer o a escribir, prepara a quienes no han concluido su primaria o secundaria para terminarla con la ayuda de la creación de su Programa Educativo"/>
	<link href="estilos.css" rel="stylesheet">
	<title>IEEA: Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</title>
</head>
	<body>
	<div>
	<ul class="zocial-">
 						<li class="zocial-twitter">@IEEA_QROO</li>
  						<li class="zocial-facebook"></li>
 						<li class="zocial-youtube"></li>
 						<li class="zocial-email"></li>
 						<li class="zocial-call"></li>
					</ul>
	</div>
	</body>