<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="El IEEA es una institución educativa del estado de quintana roo que atiende a personas mayores de 15 años que por alguna situación no tuvieron la oportunidad de aprender a leer o a escribir, prepara a quienes no han concluido su primaria o secundaria para terminarla con la ayuda de la creación de su Programa Educativo"/>
	<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/normalize.css" rel="stylesheet">
	<title>IEEA: Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</title>

</head>
	<body>
	<link rel="stylesheet" href="engine1/style.css">
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
		
		<header>
			<figure id="logo" class="logos">
				<img src="../static/img/logos.jpg">
			</figure>
	
<a class="toggleMenu" href="#">Menu</a>
<ul class="nav">
	<li>
		<a href="#">Inicio</a>
	</li>
	<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="#">Mensaje de Bienvenida</a></li>
			<li><a href="#">Presentación</a></li>
			<li><a href="#">Antecedentes</a></li>
			<li><a href="#">Misión y Visión</a></li>
			<li><a href="#">Objetivo</a></li>
			<li><a href="#">Marco Normativo</a></li>
			<li><a href="#">Estructura Orgánica</a></li>
			<li><a href="#">Patronato</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="#">Transparencia</a>
			</li>
			<li>
				<a href="#">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="#">Armonización Contable</a>
			</li>
			<li>
				<a href="#">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="#">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="#">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="#">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="#">Buen Juez</a>
			</li>
			<li>
				<a href="#">Promesa</a>
			</li>
			<li>
				<a href="#">Logros en Atención</a>
			</li>
			<li>
				<a href="#">Logros en Educación</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="#">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="#">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="#">Consulta tu CURP</a>
			</li>
			<li>
				<a href="#">Correo INEA</a>
			</li>
			<li>
				<a href="#">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="#">Información para Asesores</a>
			</li>
			<li>
				<a href="#">Formal</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Intranet</a>
	</li>

	</li>
</ul>
</div>
		<section id="banner">
		<div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'  autocomplete="off">
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause' autocomplete="off">
		<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause' autocomplete="off">
		
		<ul>
			<div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
				<img src="data1/images/blackladybuganimalwallpaper1920x12003036.jpg" style="width: 100%;">
			</div>
			<li class='num0 img'>
				 <a href="#" target=""><img src='data1/images/blackladybuganimalwallpaper1920x12003036.jpg' alt='black-ladybug-animal-wallpaper-1920x1200-3036' title='black-ladybug-animal-wallpaper-1920x1200-3036' /> </a> 
			</li>
			<li class='num1 img'>
				<img src='data1/images/bliss_water_by_v_e_g_ad4ip7t6.jpg' alt='bliss_water_by_v_e_g_a-d4ip7t6' title='bliss_water_by_v_e_g_a-d4ip7t6' />
			</li>
			<li class='num2 img'>
				<img src='data1/images/bloom_00004.jpg' alt='Bloom_00004' title='Bloom_00004' />
			</li>
		
		</ul>
		<div class='cs_description'>
			<label class='num0'>
				<span class="cs_descr"><span class="cs_wrapper">Con servicios gratuitos certificaron estudios más de siete mil jóvenes y adultos</span></span>
			</label>
			<label class='num1'>
				<span class="cs_descr"><span class="cs_wrapper">Suman a Becarios de Oportunidades a la Campaña Nacional de Alfabetización </span></span>
			</label>
			<label class='num2'>
				<span class="cs_descr"><span class="cs_wrapper">Fortalecerán alianza IEEA-CROC para impulsar la educación básica entre trabajadores </span></span>
			</label>
		</div>
		
		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'><span><i></i></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i></span></label>
		</div>
		
		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num1' for='cs_slide1_1'>
				<span class='cs_point'></span>
				
			</label>
			<label class='num2' for='cs_slide1_2'>
				<span class='cs_point'></span>
				
			</label>
		</div>
		
		</div>
		</section> <!-- Banner end-->
		<section class="section1">
		<div class="content-menuEducacion">
				<ul class="menu-educacionAdultos">
						<h4 class="titulo-educacionAdultos">Educación para Adultos</h4>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Alfabetizacion</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Primaria y Secundaria</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Tipos de Exámenes</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT 10-14</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT Indigena</a>
						</li>
				</ul>
			</div>
			<div class="content-menuRecursos">
				<ul class="menu-recursosEducativos">
						<h4 class="titulo-recursosEducativos">Recursos Educativos</h4>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Educación para el trabajo</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Como Aprender</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Aprovecho la computadora</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Materiales para asesores</a>
						</li>
				</ul>	
			</div>
			<div class="content-tweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="380"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</a>
			</div><!-- end banners-->
		</section>
		<section class="section2">
				<div class="menu1-section2">
					<figure class="banners">
						<img src="../static/img/estudio3.jpg">
					</figure>
					<figure class="banners">
						<img src="../static/img/estudio4.jpg">
					</figure>
				</div>
				<div class="menu2-section2">
					<figure class="banners">
						<img src="../static/img/estudio1.jpg">
					</figure>
					<figure class="banners">
						<img src="../static/img/estudio2.jpg">
					</figure>
				
				</div>		
				<div id="banner-section2" class="menu3-section2">
				<figure class="section2-banner">
					<img src="../static/img/logo-mexiconosmuevealapaz.png">
				</figure>
					
				</div>	
		</section>
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
	</body>
</html>