<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta description="El IEEA es una institución educativa del estado de quintana roo que atiende a personas mayores de 15 años que por alguna situación no tuvieron la oportunidad de aprender a leer o a escribir, prepara a quienes no han concluido su primaria o secundaria para terminarla con la ayuda de la creación de su Programa Educativo"/>
	<meta name="viewport" content="width=device-width, minimun-sacale=1 maximun-scale=1">
	<link href="../static/css/styles.css" rel="stylesheet">
	<link href="../static/css/normalize.css" rel="stylesheet">
	<title>IEEA: Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</title>

</head>
	<body>
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
		<header>
			<figure id="logo">
				<img src="../static/img/logos.jpg">
			</figure>
		</header>
			<div class="container">
	
<a class="toggleMenu" href="#">Menu</a>
<ul class="nav">
	<li>
		<a href="#">Inicio</a>
	</li>
	<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="#">Mensaje de Bienvenida</a></li>
			<li><a href="#">Presentación</a></li>
			<li><a href="#">Antecedentes</a></li>
			<li><a href="#">Misión y Visión</a></li>
			<li><a href="#">Objetivo</a></li>
			<li><a href="#">Marco Normativo</a></li>
			<li><a href="#">Estructura Orgánica</a></li>
			<li><a href="#">Patronato</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="#">Transparencia</a>
			</li>
			<li>
				<a href="#">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="#">Armonización Contable</a>
			</li>
			<li>
				<a href="#">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="#">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="#">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="#">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="#">Buen Juez</a>
			</li>
			<li>
				<a href="#">Promesa</a>
			</li>
			<li>
				<a href="#">Logros en Atención</a>
			</li>
			<li>
				<a href="#">Logros en Educación</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="#">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="#">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="#">Consulta tu CURP</a>
			</li>
			<li>
				<a href="#">Correo INEA</a>
			</li>
			<li>
				<a href="#">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="#">Información para Asesores</a>
			</li>
			<li>
				<a href="#">Formal</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Intranet</a>
	</li>

	</li>
</ul>
</div>
		<section class="banners">
		</section>
		<section class="contenido">
		<div class="contenido-info">
			<p>
				kjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjdkjfdhnbjksdefskjd
			</p>
		</div>
		<div class="menu-izq">
			<div class="menu-left">
				<nav>
					<ul class="menu-leftList">
						<h4>Ultimos Tweets</h4>
						<li class="menu-leftItem">
							<a href="http://www.inea.gob.mx" class="menu-leftLink">Portal INEA</a>
						</li>
						</ul>
				</nav>
				<nav>
					<ul class="menu-leftList">
						<h4>Lo mas visto</h4>
						<li class="menu-leftItem">
							<a href="http://www.inea.gob.mx" class="menu-leftLink">Portal INEA</a>
						</li>
						</ul>
				</nav>
				<nav>
					<ul class="menu-leftList">
						<h4>Lo mas destacado</h4>
						<li class="menu-leftItem">
							<a href="http://www.inea.gob.mx" class="menu-leftLink">Portal INEA</a>
						</li>
						</ul>
				</nav>
		</div>
		</section>
		<footer id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>

				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
				</div>
		</footer>
	</body>
</html>