/* RATERO QUE BUSCAS AQUI*/



/* Header*/
header{
	margin: 0;
}


#logo{
	background: white;
	margin: 0;
	padding: 1em 0.5;
	vertical-align: left;
	width: 50%;
}

#logo img{
	width: 100%;
}

/* Menu de navegación*/
.MainMenu{
	background: #1E1E1E;
	font-size: 1em;
	text-align: center;
	height: 1.8em;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #EEEEEE;
	text-decoration: none;
	line-height: 1.8em;
	margin-right: 1em;
}

.google-ieea{
	width: 100%;
}

.googlemap{
	width: 100%;
}

.Footer{
	background: #004202;
}

.banda{
	margin: 0;
	width: 100%;
}

.banda img{
	width: 100%;
}

#footeradress, #footerlinks, #sociallinks{
	color: lightgray;
	display: inline-block;
	margin-top: 1em;
	vertical-align: top;
}

.menu-footerLink{
	color: #EEEEEE;
	text-decoration: none;
}










