/* <---- contenido section1 ----> */
.infoSection, .sectionTweets {
    display: inline-block;
    vertical-align: top;
}

.contenidoSection{
    background-color: #FFF;
    height: auto;
    padding-top: 2em;

}

.logoieea{
    margin: 0;
    text-align: center;
}

.logo-ieea{
    width: 40%;
}

.infoSection{
    margin: 0 1em 0 1em;
    width: 69%;
}

.fotodirector{
   float: left;
    margin: 1em;
}

.titulo{
    margin: 0;
    padding: 0;
}

.texto-parrafos{
    text-align: justify;
}

.menu-izq{
	display: inline-block;
	vertical-align: top;
    margin-left: 1em;
    width: 25%;
}

.titulo-tweets{
	border-bottom: 2px solid red;
    text-shadow: 1px 2px 1px #CCCCCC;
}

.sectionTweets{
    width: 100%;
}

.section-bannerright{
    margin-left: 1em;
    width: 330px;
}

.section-bannerright{
    width: 100%;
}

.img-organigrama{
    width: 600px;
}

.pdficon{
    margin: 0;
    text-align: right;
 
}
.pdficon2{
    margin: 0;
}

.pdf:before{
    color: #801815;
    font-family: "iconitos";
    font-size: 1.4em;
    content: "\e605";
    margin-right: 0.5em;

}

.titulo-educacionAdultos{
    border-bottom: 2px solid red;
    text-shadow: 1px 2px 1px #CCCCCC;
}


.menu-educacionItem{
    color: #EEEEEE;
    text-decoration: none;
    background: url(../img/arrow-right.png) 0.5em 0.5em no-repeat;
    padding-left: 2em;
    padding-top: 0.5em;
}

.banner-right{
    width: 100%;
}

.logoaniversario40{
    width: 100%;
}

.menu-recursosItem{
    color: #EEEEEE;
    text-decoration: none;
    background: url(../img/arrow-right.png) 0.5em 0.5em no-repeat;
    padding-left: 2em;
    padding-top: 0.5em;
}
