/* RATERO QUE BUSCAS AQUI*/
/*Social media icons*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


/* Header*/
header{
	margin: 0;
}

footer

#logo{
	background: white;
	margin: 0;
	padding: 1em 0.5;
	vertical-align: left;
	width: 50%;
}

#logo img{
	width: 100%;
}


/* <-----Menu de navegación----->*/
.MainMenu{
	background: #1E1E1E;
	font-size: 1em;
	text-align: center;
	height: 1.8em;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #EEEEEE;
	text-decoration: none;
	line-height: 1.8em;
	margin-right: 1em;
}

.google-ieea{
	margin: 1em 0 1em 0;
	width: 100%;
}

.googlemap{
	width: 100%;
}



/*<-----Footer----->*/
.Footer{
	background: #004202;
}

.banda{
	margin: 0;
	width: 100%;
}

.banda img{
	margin: 0;
	width: 100%;
}

#footeradress, #footerlinks, #sociallinks{
	color: lightgray;
	display: inline-block;
	vertical-align: top;
}

#footeradress{
	width: 400px;
	margin-left: 2em;
}

.menufooter{
	display: block;
}

.menu-footer{
	padding-left: 10px;
    margin-left: 10px;
    list-style-type: none;
}

.menu-footerItem{
	padding-left: 1.3em;
    background: url(../img/bullet_yellow.png) 0em 0em no-repeat;
    margin-bottom: 0.4em;

}

.footer-menuLinks{
	margin-left: 3em;
}

.footer-socialIcons{
	margin-left: 3em;
}

.footer-sociallink{
	color: lightgray;
	padding-left: 0.4em;
	text-decoration: none;
}

.zocial-{
	list-style: none;
}

.zocial-twitter{
	margin-top: 0.4em;
}

.zocial-facebook{
	margin-top: 0.4em;
}

.zocial-youtube{
	margin-top: 0.4em;
}

.zocial-email{
	margin-top: 0.4em;
}

.zocial-call{
	margin-top: 0.4em;
}

.menu-footerLink{
	color: #EEEEEE;
	text-decoration: none;
}








