<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Objetivos del IEEA Quintana Roo "/>
		<meta name="author" content="RulZMX" />
		<link rel="author" href="https://twitter.com/RulZMX" />
		<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
		<title>Objetivos del IEEA Quintana Roo</title>
		<link href="../../static/css/normalize.css" rel="stylesheet">
		<link href="../../static/css/styles-sections.css" rel="stylesheet">	
</head>
	
<body>
		<link rel="stylesheet" href="../../static/css/style-carousel.css">
		<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
		
	<header>
		<figure id="logo" class="logos">
			<img src="../../static/img/logos.jpg">
		</figure>

		<form action="" id="formulario" class="formulario">
			<input type="text" placeholder="ingresar busqueda" id="titulo" name="titulo" required>
			<input type="submit" value="Buscar">
			</form>
		<div class="container">	
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
		<li>
		<a href="#">Inicio</a>
		</li>
		<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="./bienvenida.html">Mensaje de Bienvenida</a></li>
			<li><a href="./presentacion.html">Presentación</a></li>
			<li><a href="./antecedentes.html">Antecedentes</a></li>
			<li><a href="./mision-y-vision.html">Misión y Visión</a></li>
			<li><a href="./objetivos.html">Objetivos</a></li>
			<li><a href="./marco-normativo.html">Marco Normativo</a></li>
			<li><a href="./estructura-organica.html">Estructura Orgánica</a></li>
			<li><a href="./patronato.html">Patronato</a></li>
		</ul>
		</li>
		<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="http://transparencia.qroo.gob.mx/SIWQROO.php?Pagina=InfPublic.php&Tipo=3&IdUbicacion=59#">Transparencia</a>
			</li>
			<li>
				<a href="../informacion-publica/publicaciones-oficiales.html">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="../informacion-publica/armonizacion-contable">Armonización Contable</a>
			</li>
			<li>
				<a href="../informacion-publica/codigos-etica-conducta">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="../programas-estadisticas/camp-nacional-alfabetizacion.html">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="../programas-estadisticas/plazas-comunitarias.html">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="../programas-estadisticas/certificacion-conevyt.html">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="../programas-estadisticas/buen-juez">Buen Juez</a>
			</li>
			<li>
				<a href="../programas-estadisticas/programa-promesa-ieea.html">Promesa</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-atencion-usuarios">Logros en Atención</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-usuarios-acreditados">Logros en Acreditación</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="http://retys.qroo.gob.mx/index.php?dependencia=71">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=491&Itemid=970">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=492&Itemid=971">Consulta tu CURP</a>
			</li>
			<li>
				<a href="http://mail.inea.gob.mx/webmail/src/login.php">Correo INEA</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="http://www.ineaformate.conevyt.org.mx/">Información para Asesores</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="http://ieeaqroo.inea.gob.mx/intranet/aplicaciones.php">Intranet</a>
		</li>
		</li>
	</ul>
	</div>
		<section class="section1">
		<div class="content-menuEducacion">
		
			<h2 class="titulo">Objetivos</h2>
				<br>
				<p class="texto-parrafos">
					El IEEA tiene como objetivo promover, organizar e impartir educación básica a la población joven y adulta de Quintana Roo que por diversos motivos no pudo aprender a leer y escribir o no ha logrado concluir sus estudios de primaria o secundaria.
					<br>
					<br>
					Ser una institución educativa de reconocido prestigio, por su excelencia en el servicio, con una tendencia decreciente del rezago educativo del Estado, atendiendo a las personas jóvenes y adultas a través de los diferentes programas institucionales, contando con la participación comprometida de todos los sectores de la sociedad y agilizando los procesos, con el uso y optimización de la tecnología de punta, tanto en niveles administrativos como operativos.
					<br>
					<br>
					<ul>
						<li>Público: Gobiernos Federal, Estatal y Ayuntamientos.</li>
						<li>Social: Las estructuras comunitarias y vecinales, asociaciones civiles, grupos religiosos, clubes y organizaciones de asistencia social.</li>
						<li> Privado: Fabricas, empresas, sindicatos y otras organizaciones que apoyan los servicios educativos dirigidos a las y los trabajadores que lo requieran.</li>
						<li> Educativo: Proporciona su infraestructura así como, a las y los estudiantes del servicio social, para proporcionar asesoría educativa.</li>
					</ul>
					<br>
					<br>
				</p>
					
			</div>
			<div class="menu-izq">
			<div class="content-tweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="330"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</a>
			</div>
			<div class="menu-masvisto">
				<ul class="menu-masvistoright">
				<h4 class="titulo-destacado">Lo mas destacado</h4>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
				</ul>
			</div>
			<div class="banner-right">
				<figure class="section-bannerright">
					<img src="../../static/img/40aniversarioquintanaroo.jpg" class="logoaniversario40">
				</figure>
					
				</div>
			
			</div>
		</section>
		
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
	</body>
</html>