<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Mensaje de bienvenida del Profesor Francisco Javier Novelo Ordóñez Director General del IEEA Quintana Roo "/>
		<meta name="author" content="RulZMX" />
		<link rel="author" href="https://twitter.com/RulZMX" />
		<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
		<title>Mensaje de Bienvenida</title>
		<link href="../../static/css/normalize.css" rel="stylesheet">
		<link href="../../static/css/styles-sections.css" rel="stylesheet">	
</head>
	
<body>
		<link rel="stylesheet" href="../../static/css/style-carousel.css">
		<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
		
	<header>
		<figure id="logo" class="logos">
			<img src="../../static/img/logos.jpg">
		</figure>

		<form action="" id="formulario" class="formulario">
			<input type="text" placeholder="ingresar busqueda" id="titulo" name="titulo" required>
			<input type="submit" value="Buscar">
			</form>

		<div class="container">	
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
		<li>
		<a href="#">Inicio</a>
		</li>
		<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="#">Mensaje de Bienvenida</a></li>
			<li><a href="#">Presentación</a></li>
			<li><a href="#">Antecedentes</a></li>
			<li><a href="#">Misión y Visión</a></li>
			<li><a href="#">Objetivo</a></li>
			<li><a href="#">Marco Normativo</a></li>
			<li><a href="#">Estructura Orgánica</a></li>
			<li><a href="#">Patronato</a></li>
		</ul>
		</li>
		<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="#">Transparencia</a>
			</li>
			<li>
				<a href="#">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="#">Armonización Contable</a>
			</li>
			<li>
				<a href="#">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="#">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="#">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="#">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="#">Buen Juez</a>
			</li>
			<li>
				<a href="#">Promesa</a>
			</li>
			<li>
				<a href="#">Logros en Atención</a>
			</li>
			<li>
				<a href="#">Logros en Educación</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="#">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="#">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="#">Consulta tu CURP</a>
			</li>
			<li>
				<a href="#">Correo INEA</a>
			</li>
			<li>
				<a href="#">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="#">Información para Asesores</a>
			</li>
			<li>
				<a href="#">Formal</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Intranet</a>
		</li>
		</li>
	</ul>
	</div>
		
		<section class="section1">
		<div class="content-menuEducacion">
			<h2>Mensaje de Bienvenida</h2>
				<br>
				<p class="texto-parrafos">
					Una de las prioridades del Gobierno del Estado es atender a la población quintanarroense que se encuentra en situación de rezago educativo y nuestro compromiso durante la presente administración estatal  desde el Instituto Estatal para la Educación de Jóvenes y Adultos (IEEA), es contribuir a que salgan de ese rezago educativo 85 mil personas que hoy no saben leer o escribir o no cuentan con educación primaria o secundaria.
					<br>
					<br>
					Por tal motivo, se me ha  encomendado la tarea de implementar los programas estratégicos necesarios para lograr abatir la tendencia creciente de esa problemática social que genera el explosivo crecimiento de nuestro estado, principalmente en sus polos turísticos.
					<br>
					<br>
					En el IEEA visualizamos a la Educación como un motor generador de cambios económicos, sociales y culturales por lo que abrimos nuestras puertas a todas aquellas personas que deseen mejorar su calidad de vida y la de sus familias.
					<br>
					<br>
					Nuestra Institución es una opción educativa para aquellos jóvenes y adultos que por alguna circunstancia se vieron en la necesidad de frenar su proceso educativo y no pudieron concluir su educación primaria y/o secundaria.
					<br>
					<br>
					Ofrecemos servicios de calidad y espacios educativos dignos totalmente gratuitos, con material didáctico y equipo de cómputo que se ajustan a las necesidades de aprendizaje de cada una de las personas.
					<br>
					<br>
					Nuestro modelo educativo valora los conocimientos adquiridos a lo largo de la vida, es flexible y está disponible en el momento que tomes la decisión de prepararte para enfrentar las exigencias de un Estado en crecimiento constante y aprovechar todas las oportunidades de empleo y bienestar que genera la dinámica económica de cada región de nuestro Quintana Roo.
					<br>
					<br>
					Te invitamos a estudiar con nosotros, ven y conócenos.
					<br>
					<br>
					<br>
					<br>
					A T E N T A M E N T E
					<br>
					<br>
					PROF. FRANCISCO JAVIER NOVELO ORDÓÑEZ
					DIRECTOR GENERAL
					<br>
					<br>
					<br>
					<br>
				</p>
			</div>
			<div class="menu-izq">
			<div class="content-tweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="330"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</a>
			</div>
			<div class="menu-masvisto">
				<ul>
				<h4 class="titulo-destacado">Lo mas destacado</h4>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
					<li>
						<a href="#">Articulo 1</a>
					</li>
				</ul>
			</div>
			</div>
		</section>
		
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
	</body>
</html>