<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Marco Normativo que rige al IEEA "/>
		<meta name="author" content="RulZMX" />
		<link rel="author" href="https://twitter.com/RulZMX" />
		<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
		<title>Marco Normativo del IEEA</title>
		<link href="../../static/css/normalize.css" rel="stylesheet">
		<link href="../../static/css/styles.css" rel="stylesheet">
		<link href="../../static/img/favicon.ico" rel="icon" type="image/x-icon" />	
</head>
<body>
	<header>
		<figure id="logo" class="logos">
			<img src="../../static/img/logos.jpg">
		</figure>
		<form action="" class="formSearch">
			<input type="text" placeholder="ingresar busqueda" id="titulo" name="titulo" required>
			<input type="submit" value="Buscar">
			</form>
		<div class="container">	
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
		<li>
		<a href="#">Inicio</a>
		</li>
		<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="./bienvenida.html">Mensaje de Bienvenida</a></li>
			<li><a href="./presentacion.html">Presentación</a></li>
			<li><a href="./antecedentes.html">Antecedentes</a></li>
			<li><a href="./mision-y-vision.html">Misión y Visión</a></li>
			<li><a href="./objetivos.html">Objetivos</a></li>
			<li><a href="./marco-normativo.html">Marco Normativo</a></li>
			<li><a href="./estructura-organica.html">Estructura Orgánica</a></li>
			<li><a href="./patronato.html">Patronato</a></li>
		</ul>
		</li>
		<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="http://transparencia.qroo.gob.mx/SIWQROO.php?Pagina=InfPublic.php&Tipo=3&IdUbicacion=59#">Transparencia</a>
			</li>
			<li>
				<a href="../informacion-publica/publicaciones-oficiales.html">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="../informacion-publica/armonizacion-contable">Armonización Contable</a>
			</li>
			<li>
				<a href="../informacion-publica/codigos-etica-conducta">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="../programas-estadisticas/camp-nacional-alfabetizacion.html">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="../programas-estadisticas/plazas-comunitarias.html">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="../programas-estadisticas/certificacion-conevyt.html">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="../programas-estadisticas/buen-juez">Buen Juez</a>
			</li>
			<li>
				<a href="../programas-estadisticas/programa-prospera-ieea.html">Prospera</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-atencion-usuarios">Logros en Atención</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-usuarios-acreditados">Logros en Acreditación</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="http://retys.qroo.gob.mx/index.php?dependencia=71">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=491&Itemid=970">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=492&Itemid=971">Consulta tu CURP</a>
			</li>
			<li>
				<a href="http://mail.inea.gob.mx/webmail/src/login.php">Correo INEA</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="http://www.ineaformate.conevyt.org.mx/">Información para Asesores</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="http://ieeaqroo.inea.gob.mx/intranet/aplicaciones.php">Intranet</a>
		</li>
		</li>
	</ul>
	</div>
</header>
		<section class="contenidoSection">
		<div class="infoSection">
			<h2 class="titulo">Marco Normativo que Rige al IEEA </h2>
				<h5>CONSTITUCIONES</h5>
				<ul>
				<h5>FEDERALES</h5>
					<li>Constitución Política de los Estados Unidos Mexicanos, publicada en el Diario Oficial de la Federación el 5 de Febrero de 1917.</li>
					<H5>ESTATALES</H5>
					<li>Constitución Política del Estado Libre y Soberano de Quintana Roo, publicada en Bando Solemne el 11 de Enero de 1975.</li>
				</ul>
				<h5>LEYES</h5>
				<ul>
				<h5>FEDERALES</h5>
					<li>Ley General de Educación, publicada en el Diario Oficial de la Federación el 13 de julio de 1993.</li>
					<li>LEY FEDERAL DE TRABAJO</li>
					<li>Ley del Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado, publicada en el Diario Oficial de la  Federación el 27 de Diciembre de 1983.</li>
					<li>Ley Federal de los Trabajadores al Servicio del Estado, publicada en el Diario Oficial de la Federación el 28 de Diciembre de 1963.</li>
					<li>Ley Federal de Responsabilidades de los Servidores Públicos, publicada en el Diario Oficial de la Federación el 31 de diciembre de 1982.</li>
					<li>Ley Federal de Responsabilidades Administrativas de los Servidores Públicos, publicada en el  Diario Oficial de la Federación el 13 de marzo de 2002.</li>
					<li>Ley Reglamentaria del Articulo 5o. Constitucional, relativo al ejercicio de las Profesiones en el Distrito Federal, publicada en el Diario Oficial de la Federación el 26 mayo 1945.</li>
					<li>Ley de Premios, Estímulos y Recompensas Civiles, publicada en el  Diario Oficial de la Federación el 31 de diciembre de 1975.</li>
					<li>Ley Orgánica de la Administración Publica Federal publicada en el Diario Oficial de la Federación el 29 de diciembre de 1976.</li>
					<li>Ley de Ingresos de la Federación publicada en el Diario Oficial de la Federación el 25 de noviembre de 2009.</li>
					<li>Ley Federal de Entidades Paraestatales, publicada en el Diario Oficial de la Federación el 14 de mayo de 1986.</li>
					<li>Ley de Planeación, publicada en el Diario Oficial de la Federación el 5 de enero de 1983.</li>
					<li>Ley Federal del Presupuesto y Responsabilidad Hacendaria, publicada en el Diario Oficial de la Federación el 30 de marzo de 2006.</li>
					<li>Ley General de Bienes Nacionales, publicada en el Diario Oficial de la Federación el 8 de enero de 1982.</li>
					<li>Ley Federal de Transparencia y Acceso a la Información Publica Gubernamental, publicada en el diario Oficial de la Federación el 30 de Abril de 2002.</li>
					<li>Ley de Coordinación Fiscal, publicada en el Diario Oficial de la Federación el 27 de junio 1991.</li>
					<li>Presupuesto de Egresos de la Federación para el Ejercicio Fiscal del año 2010,  publicado en el Diario Oficial de la Federación el 7 de diciembre de 2009.</li>
					<h5>ESTATALES</h5>
					<li>Ley de Educación del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 30 de Diciembre de 1994.</li>
					<li>Ley de los Trabajadores al Servicio de los Poderes Legislativo, Ejecutivo y Judicial de los Ayuntamientos y Organismos  Descentralizados del Estado de Q. Roo, publicada en el Periódico Oficial del Estado el 12 de junio de 1978.</li>
					<li>Ley de Responsabilidades de los Servidores Públicos del  Estado de Q. Roo, publicada en el Periódico Oficial del Estado el 27 de noviembre de 2007.</li>
					<li>Ley de Profesiones del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 15 de junio de 1998. </li>
					<li>Ley de Hacienda del Estado de Quintana Roo publicada en el Periódico Oficial del Estado, publicada en el Periódico Oficial del Estado el 17 de diciembre de 2010.</li>
					<li>Ley del Presupuesto, Contabilidad y Gasto Público del Estado de Quintana  Roo,  publicada en el Periódico Oficial del Estado el 16 de diciembre de 1993.</li>
					<li>Ley Orgánica de la Administración Pública del Estado de Quintana Roo publicada en el Periódico Oficial del Estado 12 de diciembre de 2008.</li>
					<li>Presupuesto de Egresos del Estado de Quintana Roo, publicado en el Periódico Oficial el 17 de diciembre de 2010.</li>
					<li>Ley de la Coordinación Fiscal de Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 13 de diciembre de 2010.</li>
					<li>Ley para la igualdad entre mujeres y hombres del estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 6 de noviembre de 2009. </li>
					<li>Ley de acceso de las mujeres a una vida libre de violencia del estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 27 de noviembre de 2007. </li>
					<li>Ley de Transparencia y Acceso a la Información Pública del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 30 de junio de 2009. </li>
					<li>Ley del Sistema de Documentación del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 28 de diciembre de 2001. </li>
					<li>Ley de Ingresos del Estado de Quintana Roo, para el ejercicio fiscal 2011, publicada en el Periódico Oficial del Estado el 17 de diciembre de 2010. </li>
					<li>Ley de las Entidades de la Administración Pública Paraestatal del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 22 de enero de 2003. </li>
					<li>Ley de Seguridad Social de los Servidores Públicos del Gobierno del Estado, Municipios y Organismos Públicos descentralizados del Estado de Quintana Roo, publicada en el Periódico Oficial del Estado el 14 de abril de 1989.</li>
				</ul>
				<h5>CODIGOS</h5>
				<ul>
				<h5>FEDERALES</h5>
					<li>Código Fiscal de la Federación, publicado en el Diario Oficial de la Federación el 31 de diciembre de 1981.</li>
					<H5>ESTATALES</H5>
					<li>Código Fiscal del Estado de Quintana Roo publicado en el Periódico Oficial del Estado, publicada en el Periódico Oficial del Estado el 16 de diciembre de 2009.</li>
				</ul>
				<h5>REGLAMENTOS</h5>
				<ul>
				<h5>FEDERALES</h5>
					<li>Reglamento de la Ley Federal de Presupuesto y Responsabilidad Hacendaria, publicado en el Diario Oficial de la Federación el 28 de junio de 2006.</li>
					<li>Reglamento del Código Fiscal de la Federación, publicado en el Diario Oficial de la Federación el 7 de diciembre de 2009.</li>
					<li>Reglamento de Seguridad, Higiene y Medio Ambiente en el Trabajo del sector Público Federal, publicado en el Diario Oficial de la Federación el 29 de noviembre de 2006.</li>
					<H5>ESTATALES</H5>
					<li>Reglamento de la Condiciones Generales de Trabajo del Gobierno del Estado de Quintana Roo, publicado en el Periódico Oficial del Estado el 14 de septiembre de 1984.</li>
					<li>Reglamento de Escalafón de los Trabajadores al Servicio del Poder Ejecutivo y Organismos Descentralizados del Estado de Quintana Roo, publicado en el Periódico Oficial del Estado el 15 de noviembre de 1979.  </li>
					<li>Reglamento de la Ley de Presupuesto, Contabilidad y Gasto Público del Estado de Quintana Roo, publicado en el Periódico Oficial del Estado el 31 de diciembre de 1993.</li>
					<li>Reglamento del Código Fiscal del Estado de Quintana Roo,  publicado en el Periódico Oficial del Estado el 15 de abril de 1996.  </li>
					<li>Reglamento de la Ley para la Igualdad entre Mujeres y Hombres del Estado de Quintana Roo, publicado en el Periódico Oficial del Estado el 5 de marzo del año 2010. </li>
					<li>
					<a href="#"> Reglamento Interior del Instituto Estatal para la Educación de Jóvenes y Adultos, publicado en el Periódico Oficial del Estado el 15 de octubre de 2009.</a>
					</li>
					<h5>DECRETOS</h5>
					<li>
						<a href="#">Decreto que reforma integralmente el Decreto por el que se crea el Instituto Estatal para la Educación de los Adultos, publicado en el Periódico Oficial del Estado el 17 de enero del año 2006.</a>
					</li>
					<h5>ACUERDOS</h5>
					<li>Acuerdo de Reglamentación del Servicio Social para el combate al Rezago Educativo.</li>
					<h5>CONVENIOS</h5>
					<li>
						<a href="#">Relacion de Convenios Firmados entre IEEA y Otras Instituciones</a>
					</li>
					<h5>MANUALES</h5>
					<li>
						<a href="#">Manual de Organización del IEEA.</a>
					</li>
					<h5>OTRAS DISPOCICIONES</h5>
					<li>Contrato Colectivo de Trabajo de los Trabajadores de Planta del Instituto Estatal para las Educación de los Adultos, de fecha 29 de Mayo del año 2006.</li>
					<a href="#">Contrato Colectivo de Trabajo 2008-2010.</a>
				</ul>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
						<aside class="menu-izq">
			<div class="menu-rightEducacion">
				<ul class="menu-educacionAdultos">
						<h4 class="titulo-educacionAdultos">Educación para Adultos</h4>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Alfabetizacion</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Primaria y Secundaria</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Tipos de Exámenes</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT 10-14</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT Indigena</a>
						</li>
				</ul>
			</div>
			<div class="menu-rightrecursos">
				<ul class="menu-recursosnAdultos">
						<h4 class="titulo-educacionAdultos">Recursos Educativos</h4>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Educación para el trabajo</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Como Aprender</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Aprovecho la computadora</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Materiales para asesores</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Cursos del MEVyT</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Estudia Bachillerato en Linea</a>
						</li>
				</ul>
			</div>
			<div class="sectionTweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="330"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="banner-right">
				<figure class="section-bannerright">
					<img src="../../static/img/40aniversarioquintanaroo.jpg" class="logoaniversario40">
				</figure>
				</div>
			</aside>
		</section>
		
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="sociallist">
					    <h4>Siguenos o contactanos</h4>
 						<li class="icon-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="icon-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="icon-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="icon-mail">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="icon-phone">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
		<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
	</body>
</html>