<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Sistema de alfabetización para las personas que hablan en lenguas indígenas, en el caso de Quintana Roo personas que hablan lengua Maya"/>
		<meta name="author" content="Raúl Zavala" />
		<link rel="author" href="https://twitter.com/RulZMX" />
		<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
		<title>Alfabetización</title>
		<link href="../../static/css/normalize.css" rel="stylesheet">
		<link href="../../static/css/styles.css" rel="stylesheet">
		<link href="../../static/img/favicon.ico" rel="icon" type="image/x-icon" />	
</head>
<body>
	<header>
		<figure id="logo" class="logos">
			<img src="../../static/img/logos.jpg">
		</figure>
		<form action="" class="formSearch">
			<input type="text" placeholder="ingresar busqueda" id="titulo" name="titulo" required>
			<input type="submit" value="Buscar">
			</form>
		<div class="container">	
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
		<li>
		<a href="#">Inicio</a>
		</li>
		<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="./bienvenida.html">Mensaje de Bienvenida</a></li>
			<li><a href="./presentacion.html">Presentación</a></li>
			<li><a href="./antecedentes.html">Antecedentes</a></li>
			<li><a href="./mision-y-vision.html">Misión y Visión</a></li>
			<li><a href="./objetivos.html">Objetivos</a></li>
			<li><a href="./marco-normativo.html">Marco Normativo</a></li>
			<li><a href="./estructura-organica.html">Estructura Orgánica</a></li>
			<li><a href="./patronato.html">Patronato</a></li>
		</ul>
		</li>
		<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="http://transparencia.qroo.gob.mx/SIWQROO.php?Pagina=InfPublic.php&Tipo=3&IdUbicacion=59#">Transparencia</a>
			</li>
			<li>
				<a href="../informacion-publica/publicaciones-oficiales.html">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="../informacion-publica/armonizacion-contable">Armonización Contable</a>
			</li>
			<li>
				<a href="../informacion-publica/codigos-etica-conducta">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="../programas-estadisticas/camp-nacional-alfabetizacion.html">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="../programas-estadisticas/plazas-comunitarias.html">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="../programas-estadisticas/certificacion-conevyt.html">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="../programas-estadisticas/buen-juez">Buen Juez</a>
			</li>
			<li>
				<a href="../programas-estadisticas/programa-prospera-ieea.html">Prospera</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-atencion-usuarios">Logros en Atención</a>
			</li>
			<li>
				<a href="../programas-estadisticas/logros-usuarios-acreditados">Logros en Acreditación</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="http://retys.qroo.gob.mx/index.php?dependencia=71">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=491&Itemid=970">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/index.php?option=com_content&view=article&id=492&Itemid=971">Consulta tu CURP</a>
			</li>
			<li>
				<a href="http://mail.inea.gob.mx/webmail/src/login.php">Correo INEA</a>
			</li>
			<li>
				<a href="http://www.conevyt.org.mx/">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="http://www.ineaformate.conevyt.org.mx/">Información para Asesores</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="http://ieeaqroo.inea.gob.mx/intranet/aplicaciones.php">Intranet</a>
		</li>
		</li>
	</ul>
	</div>
</header>
		<section class="contenidoSection">
		<div class="infoSection">
		<h2 class="titulo">MEVyT Indígena Bilingüe (MIB)</h2>
				<br>
				<p class="texto-parrafos">
					El MEVyT Indígena Bilingüe (MIB) es el modelo educativo especialmente diseñado para atender a la población hispanohablante que se encuentra en situación de rezago educativo, el cual abarca desde la alfabetización hasta la certificación de la secundaria.
					<br>
					<br>
					Implementado en 2007 en la Península de Yucatán con criterios lingüísticos y de escritura unificados, el  MEVyT Indígena Bilingüe pretende que las personas:
					<br>
					<br>
					<ul>
						<li>Reconozcan e integren en su vida, las experiencias y conocimientos que ya tienen.</li>
						<li>Hablen y escriban las lenguas que conocen y usan.</li>
						<li>Aprendan el español como segunda lengua para su comunicación en entornos sociales diversos.</li>
						<li>Fortalezcan sus habilidades básicas de lectura, escritura, cálculo, expresión oral y comprensión del entorno natural y social.</li>
						<li>Concluyan su educación básica, respetando y fomentando su lengua y su cultura.</li>
					</ul>
					<br>
					<h3>Cómo se estudia el MIB?</h3>
					<strong>El nivel inicial</strong>
					<br>
					<br>
					El MIB alfabetiza en la lengua materna indígena e introduce desde el principio el aprendizaje del español, con tratamiento de segunda lengua que requiere de la acreditación de cinco módulos básicos.
					<br>
					<br>
					<ul>
						<li>MIBES 1: Empiezo a leer y escribir en mi lengua</li>
						<li>MIBES 2: Hablemos español</li>
						<li>MIBES 3: Leo y escribo en mi lengua</li>
						<li>MIBES 4: Empiezo a leer y escribir el español.</li>
						<li>MIBES 5: Uso la lengua escrita</li>
					</ul>
					<br>
					<br>
					<strong>El nivel Intermedio</strong>
					<br>
					<br>
					Para el nivel intermedio o la primaria en el MIB se requiere el aprendizaje y acreditación de los conocimientos y competencias previstos en otros 7 módulos:
					<br>
					<br>
					<ol>
						<li>Leer y escribir</li>
						<li>Saber leer</li>
						<li>Números y cuentas</li>
						<li>Figuras y medidas</li>
						<li>Matemáticas para empezar</li>
						<li>Vamos a conocernos</li>
						<li>Vivamos mejor</li>
					</ol>
					<br>
					<br>
					<strong>Nivel Avanzado</strong>
					<br>
					<br>
					Para el nivel avanzado o secundaría se requiere la acreditación de 8 módulos básicos y 4 diversificados que el usuario podrá elegir de acuerdo a sus necesidades:
					<br>
					<br>
					<ol>
						<li>Hablando se entiende la gente</li>
						<li>Vamos a escribir</li>
						<li>Para seguir aprendiendo</li>
						<li>Fracciones y porcentajes</li>
						<li>Información y gráficas</li>
						<li>Operaciones Avanzadas</li>
						<li>Nuestro planeta la Tierra</li>
						<li>México nuestro Hogar</li>
					</ol>
					<br>
					<br>
				</p>
			</div>
						<aside class="menu-izq">
			<div class="menu-rightEducacion">
				<ul class="menu-educacionAdultos">
						<h4 class="titulo-educacionAdultos">Educación para Adultos</h4>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Alfabetizacion</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Primaria y Secundaria</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Tipos de Exámenes</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT 10-14</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT Indigena</a>
						</li>
				</ul>
			</div>
			<div class="menu-rightrecursos">
				<ul class="menu-recursosnAdultos">
						<h4 class="titulo-educacionAdultos">Recursos Educativos</h4>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Educación para el trabajo</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Como Aprender</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Aprovecho la computadora</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Materiales para asesores</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Cursos del MEVyT</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Estudia Bachillerato en Linea</a>
						</li>
				</ul>
			</div>
			<div class="sectionTweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="330"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="banner-right">
				<figure class="section-bannerright">
					<img src="../../static/img/40aniversarioquintanaroo.jpg" class="logoaniversario40">
				</figure>
				</div>
			</aside>
		</section>
		
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="sociallist">
					    <h4>Siguenos o contactanos</h4>
 						<li class="icon-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="icon-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="icon-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="icon-mail">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="icon-phone">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
		<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
	</body>
</html>