<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="utf-8" />
		<meta name="description" content="Proyecto especialmente diseñado para la atención de niñas, niños y adolescentes que no se hayan incorporado al sistema escolarizado o interrumpieron sus estudios "/>
		<meta name="author" content="RulZMX" />
		<link rel="author" href="https://twitter.com/RulZMX" />
		<meta name="viewport" content="width=device-width, minimum-sacale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700' rel='stylesheet' type='text/css'>
		<title>Modelo MEVyT 10-14</title>
		<link href="../../static/css/normalize.css" rel="stylesheet">
		<link href="../../static/css/styles-sections.css" rel="stylesheet">
		<link href="../../static/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>	
	<header>
		<figure id="logo" class="logos">
			<img src="../../static/img/logos.jpg">
		</figure>
		<form action="" id="formulario" class="formulario">
			<input type="text" placeholder="ingresar busqueda" id="titulo" name="titulo" required>
			<input type="submit" value="Buscar">
			</form>
		<div class="container">	
		<a class="toggleMenu" href="#">Menu</a>
		<ul class="nav">
		<li>
		<a href="#">Inicio</a>
		</li>
		<li  class="test">
		<a href="#">Información Institucional</a>
		<ul>
			<li><a href="#">Mensaje de Bienvenida</a></li>
			<li><a href="#">Presentación</a></li>
			<li><a href="#">Antecedentes</a></li>
			<li><a href="#">Misión y Visión</a></li>
			<li><a href="#">Objetivo</a></li>
			<li><a href="#">Marco Normativo</a></li>
			<li><a href="#">Estructura Orgánica</a></li>
			<li><a href="#">Patronato</a></li>
		</ul>
		</li>
		<li>
		<a href="#">Información Pública</a>
		<ul>
			<li>
				<a href="#">Transparencia</a>
			</li>
			<li>
				<a href="#">Publciaciones Oficiales</a>
			</li>
			<li>
				<a href="#">Armonización Contable</a>
			</li>
			<li>
				<a href="#">Códigos de Ética y Conducta del IEEA</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Programas y Estadisticas</a>
		<ul>
			<li>
				<a href="#">Campaña Nacional de Alfabetización</a>
			</li>
			<li>
				<a href="#">Plazas Comunitarias</a>
			</li>
			<li>
				<a href="#">Certificación CONEVyT</a>
			</li>
			<li>
				<a href="#">Buen Juez</a>
			</li>
			<li>
				<a href="#">Prospera</a>
			</li>
			<li>
				<a href="#">Logros en Atención</a>
			</li>
			<li>
				<a href="#">Logros en Educación</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Tramites y Servicios</a>
		<ul>
			<li>
				<a href="#">Consulta de Tramites y Servicios (Sistema RETyS)</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Servicios en Linea</a>
		<ul>
			<li>
				<a href="#">Consulta tu Avance Académico</a>
			</li>
			<li>
				<a href="#">Consulta tu CURP</a>
			</li>
			<li>
				<a href="#">Correo INEA</a>
			</li>
			<li>
				<a href="#">Capacitación para el Trabajo (CONEVyT)</a>
			</li>
			<li>
				<a href="#">Información para Asesores</a>
			</li>
		</ul>
		</li>
		<li>
		<a href="#">Intranet</a>
		</li>
		</li>
	</ul>
	</div>
		
		<section class="section1">
		<div class="content-menuEducacion">
		
			<h2 class="titulo">MEVyT 10-14</h2>
				<br>
				<p class="texto-parrafos">
					¿Qué es el MEVyT 10-14?
					<br>
					<br>
					El Modelo Educativo para la Vida y el Trabajo 10-14 es un proyecto especialmente diseñado para la atención de niñas, niños y adolescentes que por diversas circunstancias no se incorporaron al sistema escolarizado o interrumpieron sus estudios de educación primaría.
					<br>
					<br>
					Con material didáctico elaborado especialmente a las necesidades e intereses de este segmento de población, el Instituto Estatal para la Educación de Jóvenes y Adultos (IEEA) te brinda la oportunidad de concluir tus estudios de primaria en plazo máximo de 36 meses, si te aplicas en tus estudios.
					<br>
					<br>
					¿Cuáles son los requisitos de ingreso e inscripción en el programa?
					<br>
					<br>
					<ul>
						<li>Original y copia del Acta de nacimiento.</li>
						<li>Original y copia de la CURP (Clave Única de Registro de Población).</li>
						<li>Tener entre 10 y 14 años con 11 meses de edad máxima.</li>
					</ul>
					<br>
					<br>
					¿Cómo está organizado el MEVyT 10-14?
					<br>
					<br>
					Para certificar tu primaría se requiere el aprendizaje y acreditación de los conocimientos y competencias previstos en 12 módulos, de los cuales 11 son básicos y uno es diversificado (a elegir), conforme a la siguiente tabla.
					<br>
					<br>
				</p>
					
			</div>
						<aside class="menu-izq">
			<div class="content-menuEducacion">
				<ul class="menu-educacionAdultos">
						<h4 class="titulo-educacionAdultos">Educación para Adultos</h4>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Alfabetizacion</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Primaria y Secundaria</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Tipos de Exámenes</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT 10-14</a>
						</li>
						<li class="menu-educacionItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">MEVyT Indigena</a>
						</li>
				</ul>
			</div>
			<div class="content-menuEducacion">
				<ul class="menu-educacionAdultos">
						<h4 class="titulo-educacionAdultos">Recursos Educativos</h4>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Educación para el trabajo</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Como Aprender</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Aprovecho la computadora</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Materiales para asesores</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Cursos del MEVyT</a>
						</li>
						<li class="menu-recursosItem">
							<a href="http://www.inea.gob.mx" class="menu-recursosLink">Estudia Bachillerato en Linea</a>
						</li>
				</ul>
			</div>
			<div class="content-tweets">
				<h4 class="titulo-tweets">Ultimos Tweets</h4>
				<a class="twitter-timeline"
 						width="330"
  						height="350"
 						href="https://twitter.com/twitterdev"
  						data-tweet-limit="3"
  						data-chrome="nofooter transparent"
  						data-widget-id="528232965512237056">Tweets por @IEEA_QROO
  						</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="banner-right">
				<figure class="section-bannerright">
					<img src="../../static/img/40aniversarioquintanaroo.jpg" class="logoaniversario40">
				</figure>	
				</div>		
			</aside>
		</section>
		
		<footer >
		<div id="piepagina" class="Footer">
				<figure class="banda">
					<img src="../../static/img/cinta.jpg">
				</figure>
				
				<div id="footeradress" class="footer-adrees">
					<div class="address">	
					<p>
						<strong>Instituto Estatal para la Educación de Jóvenes y Adultos de Quintana Roo</strong><br>
					</p>
					<p>
						Av. Independencia #294 Col. David Gustavo Gutierrez Ruiz.<br>
						Chetumal, Quintana Roo, México.<br>		
						CP. 77013<br>
					</p>
					<p>
						Todos los Derechos reservados - Dirección de Informática
					</p>
					</div>
				</div>
				<div id="footerlinks" class="footer-menuLinks">
					<ul class="menu-footer">
						<h4>Ligas de Interes</h4>
						<li class="menu-footerItem">
							<a href="http://www.inea.gob.mx" class="menu-footerLink">Portal INEA</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.conevyt.org.mx" class="menu-footerLink">Portal CONEVyT</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.seyc.gob.mx" class="menu-footerLink">Portal de la Secretaria de Educación</a>
						</li>
						<li class="menu-footerItem">
							<a href="http://www.bachilleratosead.net" class="menu-footerLink">Bachillerato en Linea SEAD</a>
						</li>
					</ul>
				</div>
				<div id="sociallinks" class="footer-socialIcons">
					<ul class="zocial-">
					    <h4>Siguenos o contactanos</h4>
 						<li class="zocial-twitter">
 							<a href="http://twitter.com/IEEA_QROO" target="blank" class="footer-sociallink">@IEEA_QROO</a>
 						</li>
  						<li class="zocial-facebook">
  							<a href="http://facebook.com/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;/ieeaqroo</a>
  						</li>
 						<li class="zocial-youtube">
 							<a href="http://www.youtube.com/user/ieeaqroo" target="blank" class="footer-sociallink">&nbsp;VideosIEEA</a>
 						</li>
 						<li class="zocial-email">&nbsp;&nbsp;&nbsp;ieeaqroo@hotmail.com</li>
 						<li class="zocial-call">&nbsp;&nbsp;&nbsp;01 983 832 3101</li>
					</ul>
					<br>
				</div>
				</div>
		</footer>
		<script type="text/javascript" src="../../static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
	</body>
</html>